/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/*
  Setting type to a major third modular scale
  http://www.modularscale.com/?1&em&1.25&web&text
*/

html {
  color: white;
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.222em; /* 22 / 18 = 1.222 */
}

body {
  padding-top: 3.667em; /* 66 / 18 = 3.667... */
  padding-right: 2.44444444em; /* 44 / 18 = 2.44444444 */
  padding-left: 2.44444444em; /* 44 / 18 = 2.44444444 */
  background-color: #0B614B;
}

h1 {
  text-align: center;
  font-size: 2em; /* 36 / 18 = 2*/
  padding-top: 0.625em; /* 11.25 / 18 = 0.625 */
  padding-bottom: 1.25em; /* 22.5 / 18 = 1.25*/
}

h2 {
  background-color: #0B3B2E;
  font-size: 1.5em; /* 27 / 18 = 1.5*/
}

h3 {
  padding-bottom: 0.625em;/* 11.25 / 18 = 0.625 */
}

ul {
  padding-top: 0.625em;/* 11.25 / 18 = 0.625 */
  padding-bottom: 1.25em; /* 22.5 / 18 = 1.25*/
}

p {
  padding-top: 0.625em;/* 11.25 / 18 = 0.625 */
  padding-bottom: 1.25em; /* 22.5 / 18 = 1.25*/
}

footer {
  padding-top: 2.5em; /* 45 / 18 = 2.5*/
  padding-bottom: 0.625em;/* 11.25 / 18 = 0.625 */
}

/* Layout Styles */

nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.nav a {
  display: block;
  text-align: center;
  line-height: 1;
  padding: 0.556em 0.278em;
  background-color: #38610B ;
  color: white;
  border-bottom: 0;
  text-decoration: none;
}

.nav a:hover {
  background-color: gray;
  text-decoration: underline;
}

.nav li {
  display: block;
  float: left;
  width: 33.333%;
  list-style-type: none;
  padding-bottom: 0;
}

.active, a.active {
  background-color: gray;
}

.name {
  /*text-align: center;*/
  font-size: 1.5em;
}

main {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2.5em; /* 45 / 18 = 2.5*/
  padding-bottom: 1.777em; /* 32 / 18 = 1.777*/
  background-color: #00802b;
}

/* Flexbox */

#resume,
#my,
#about {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
}

#experience,
#school {
  width: 40%;
  height: auto;
}

#skill {
  width: 90%;
  height: auto;
    order: 3;
}

#history,
#interest {
  width: 50%;
  height: auto;
}

#image,
#info {
  width: 40%;
  height: auto;
}

#school {
  order: 1;
}

#experience {
  order: 2;
}

/* responsive media*/

img {
  display: block;
  max-width: 85%;
  padding-top: 0.611em; /* 11 / 18 = 0.6111111 */
  padding-bottom: 0.611em; /* 11 / 18 = 0.6111111 */
}

@media screen and (max-width: 41.66666666666666664em) {/* 750 / 18 = 41.66666666666666664 */
  #school,
  #skill,
  #experience {
    flex: 1 0 90%;
    height: auto;
  }
}

@media screen and (max-width: 33.3336em) {/* 600 / 18 = 33.333333333333336 */
  #info,
  #image {
    flex: 1 0 90%;
    height: auto;
  }
}

@media screen and (max-width: 30.555555555555557em) {/* 550 / 18 = 30.555555555555557 */
  #history,
  #interest {
    flex: 1 0 90%;
    height: auto;
  }
}

/* Modular Styles */
